.game__image {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game__countries h2 {
  color: white;
  font-weight: normal;
  letter-spacing: .8rem;
}

.game__country-name {
  width: 40%;
  margin: 2rem;
  padding: 3rem;
  background-color: rgba(10, 10, 10, .6);
  border-radius: 2rem;
}
