.main__menu {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main__button-text {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 3.4rem;
    font-weight: normal;
    letter-spacing: .8rem;
}

.main__button {
    margin: 2rem;
    width: 30rem;
    height: 10rem;
    background-color: rgba(10, 10, 10, .6);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__info {
    margin-top: 5rem;
    padding: 2rem 4rem;
    background-color: rgba(10, 10, 10, .6);
    flex-grow: 1;

}

.main__info-text {
    color: #f2f2f2;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: .8rem;
    line-height: 3rem;
}
